/* #h{
    border-style: dashed;
    border-radius: 5px;
    background-color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    line-height: 2em;
    border-color: brown;
    border-bottom: dashed black;
} */

/* h1{
    text-shadow: 2px  1px red;
    margin: 0%;
    border-style: dashed;
    padding: 10px;
    width: 20%;
}
input{
    box-shadow: 2px 2px 2px gray;
    border-radius: 3px;
} */

/* h1{
    border-style: double;
    width: 15%;
    padding: 50px;
    margin: auto;
    margin-top:20%;

}
#box1{
    background-color: aqua;
}
#box2{
    background-color: blue;
} 

#img1{
    float:left;

}
#img2{
    float:right;

}
body{
    border-style: dotted;
    display: flow-root;
}

div{
    border-style: double;
    height: 50px;
    overflow: hidden;
    overflow: auto;
}
h1{
    background-color: aqua;
    height: 100px;
    width: 100px;
}
span{
    background-color: aquamarine;
    height: 100px;
    

}
*/
/* #box{
    border: 2px solid ;
    padding: auto;
    height: auto;
    box-sizing: border-box;
    float: left;
    width: 50%;
} */
body{
    margin: 10px;
    
}
/* #box{
    height: 100%;
    width: 100%;
    position: relative;

} 
#box1{
    height: 200px;
    width: 200px;
    position: absolute;
    background-color: aqua;
    top: 0px;
    left: 0px;
}

#box2{
    height: 200px;
    width: 200px;
    position: absolute;
    background-color: red;
    top: 0px;
    right: 0px;
}
#box3{
    height: 200px;
    width: 200px;
    position: absolute;
    background-color:black;
    bottom: 0px;
    left: 0px;
}
#box4{
    height: 200px;
    width: 200px;
    position: absolute;
    background-color: gray;
    bottom: 0px;
    right: 0px;
}
#box5{
    height: 200px;
    width: 200px;
    position: absolute;
    background-color: aqua;
    top: 50%;
    left: 50%;
}*/

#container{
    border: 2px solid;
}
#container+div>p{
    background-color: aqua;
}